<% if @lead.save %>
	$('#success-submit').html('<p class="done">Gracias por suscribirte!</p>');
<% else %>
	$('#newsletter-form-response').html('<p class="notice">Lo siento no es posible suscribirse</p>');
<% end %>
