- if @result
  $('#success-submit').addClass('save-success');
  $('#success-submit').text('Enhorabuena ya estas suscrito!');
- else
  $('#success-submit').addClass('save-fail');
  $('#success-submit').text('Intente con otro E-mail');
