.bokeh {
	background: rgba(0, 0, 0, .6);
	height:100%;
}
.copy {
	margin: 15px;
}
.done {
	color:#66AE38;
}
.logo {
	width:300px;
}
.notice {
	color:#D93333;
}
.info-text{
	padding:20px 0;
}
.save-fail{
	color:#F19140;
}

.save-success {
	color:#54D05E;
}
#newsletter-submit {
	outline:none;
}
.title-h1 {
	margin-top: 15px !important;
}