.bokeh {
	background: rgba(0, 0, 0, .6);
	height:100%;
}
.copy {
	margin: 15px;
}
.done {
	color:#66AE38;
}
.logo {
	margin-bottom: 25px;
	width:300px;
}
.notice {
	color:#D93333;
}
.info-text{
	padding:20px 0;
}